/*BOOK DESCRIPTION SECTION */
#bookdetails {
    width: 70vw;
    margin: 10vh auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 220px auto;
    
}
.g-book-img{
    width: 200px;
    border: 1px solid black;
    
}
.b-details-left {
    display: block;
    padding: 1vh;
    border: 1px solid black;

}
.g-btn {
    display: inline-flex;
    flex-wrap: wrap;
    
    
}
.g-btn-col .btn-outline {
    margin: 3px;
    padding: 1vh 1vh;
    font-weight: 200; 
}
.b-detail-right-header, .b-detail-right-body {
    margin: 1vw 3vw;
}
.b-detail-right-body-description p {
    text-align: justify;
}


/*SECTION AVAILABLE STORE */
#avail-book-store, .rated-box {
    width: 70vw;
    margin: 5vh auto;

}
#avail-book-store h2 {
    text-shadow: 1px 1px 2px var(--text-color);
    font-weight: 700; 
    font-size: 30px;
}

.box-container-store{
    width: 70vw;
}
.box-store {
    display: grid; 
    grid-template-columns: auto auto auto;
    gap: 3vh;
    max-width: 100%;
    margin: 3vh auto;
    height: auto;
    background-color: var(--second-color);
    box-shadow: 0.1px 0.1px 10px  rgba(43, 58, 85, 0.2);
    border-radius: 5px;
    align-items:center;
    padding: 10px;
}
.store-img {
    width: 12vw;
}

.store-btn {
    display: flex;
    
    align-items: center;   
    margin: 10px;
    
}
.store-btn a {
    text-decoration: none;
    font-size: 14px;
}
.store-btn-btn{
    
    height: 50px;
    margin: 1px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    padding: 10px;
    color: var(--text-color);
}
.store-btn-btn:hover{
    cursor: pointer;
    background-color: var(--fourth-color);
}

.store-btn-container{
    text-align: center;
    
}
@media (max-width:1100px){

    .box-store .store-img {
        grid-area: img;
    }
    .box-store .store-info {
        grid-area: info;
    }
    .box-store .store-btn {
        grid-area: btn;
        margin: 5vh auto;      
    }
    .box-store {
        display: grid; 
        grid-template-areas: 'img info' 'btn btn';
        gap: 1vw;
        padding: 10px;
    }
}

/* STAR RATING */

.rate {
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    top: -500px;
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
    font-size: auto;
    margin: 5px;
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}